/* .contactpage-div-style {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;

} */

.contact-headmain {
    margin-top: 1850px;
    position: relative;
}

.footer-logo .icon {
    color: white;
}

.location-div img {
    width: 50px;
}

.contact-headmain .container .marquee-div-name .flex h1 {
    color: #383232;
    font-family: sans-serif;
    font-weight: 800;
}

.contact-headmain .container .marquee-div-name .fdsafsadfs h3 {
    color: #000000;
}

.contact-form-container {
    border-radius: 5px;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #070925;
    background-color: #0E0A1B;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.name-email input {
    color: #6a768e;
    font-size: 12px;
}

.phoneinput input {
    color: #6a768e;
    font-size: 12px;
}

input,
textarea {
    margin-bottom: 15px;
    background-color: #131237;
    padding: 10px;
    border-radius: 5px;
}

.text-area {
    height: 120px;
    max-height: 120px;
    min-height: 120px;
    color: #6a768e;
    font-size: 12px;
}

.contact-form-container .contact-form button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    border: 2px solid #007bff;
    background-color: #131237;
    color: white;
    cursor: pointer;
}

.contact-form-container .contact-form button:hover {
    padding: 8px;
    border-radius: 5px;
    border: none;
    border: 2px solid #007bff;
    background-color: #007bff;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

.how-can {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}

.contact-form button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #007bff;
    margin-top: 20px;
    border-radius: 5px;
}

.phoneinput .phoneinput {
    width: 50%;
    background-color: wheat;
    border-radius: 5px;
}


/*#################################################
####                                            ####
####     Contact  responsive start              ####
####                                            ####
##################################################*/
/* 
@media only screen and (max-width: 1200px) {
    .contact-headmain .container .marquee-div-name .flex h3 {
        font-family: sans-serif;
        font-weight: 800;
    }
}

@media only screen and (min-width: 1023px) {
    .contact-headmain .contactpage-div-style {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 700px !important;
    }

   
}

@media only screen and (min-width: 300px) and (max-width: 1023px) {
    .contact-headmain .contactpage-div-style {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 1100px !important;
    }

    .contact-page-form .hnjhgyh img {
        padding-top: 100px;
        margin: 0 auto;
    }

    .contact-page-form {
        display: inline;
    }

    .contact-page-form .contactform {
        margin-top: 50px;
        width: 100%;
        position: relative;
    }

    .contact-page-form .hnjhgyh .contactInfo {
        left: 0;
        position: relative;
        width: 80%;
        padding-left: 0px;
        margin: 0 auto;
    }

    .contact-page-form .hnjhgyh .contactInfo .iframe-map {
        width: 90%;
    }

    

    #contact .contact-icon {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .contact-headmain .contact-head-main .self-stretch .contact-email-form {
        display: inline;
    }

    .contact-headmain .contact-head-main {
        height: 1400px;
    }
}

@media only screen and (min-width: 964px) {
    .contact-headmain .contact-head-main .contact-head-child .contact-head-child1 .contact-email-form .contact-head-child2 .contact-head-child3 .iframe-map {
        width: 80%;
    }
} */